* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    height: 100%;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin-bottom: 36px;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.header .links {
    min-width: 40%;
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 48px;
    overflow

}

.left, .right {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 33%;
    justify-content: space-around;
    align-content: center;
    /*border: red 10px solid;*/
    gap: 12px;
    padding:12px;
}

.content img {
    height:70%;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color:#f9faf8
}

.hero-secondary {
    font-size: 18px;
    color:#e5e7eb;
}

button {
    background-color: #3882f6;
    width: fit-content;
    padding: 6px 24px;
    color:#f9faf8;
    border-radius: 8px;
}

.information-wrapper {
    background-color: white;
    text-align: center;
    color: #1f2937;
    font-weight: bold;
    padding: 36px;;
}

.information {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    gap:24px;
    padding: 36px;
    min-height: 300px;
    align-content: center;
}

.card {
    display:flex;
    flex-flow: column;
    width: 150px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.card p {
    font-size: x-small;
    text-align: center;
    max-width: 100%;
}

.quote {
    background-color: #e5e7eb;
    flex-flow: column;
    display: flex;
    color: #1f2937;
    padding: 96px 192px;
    justify-content: center;
    align-content: center;
    gap:48px;
    max-height: 300px;
}

#quote1 {
    font-size: 30px;
    font-style: italic;
    font-weight:100px;
}

#thor {
    font-size: 20px;
    align-self: flex-end;
    font-weight: bold;
}

.action-wrapper {
    background-color: #f9faf8;
    display:flex;
    justify-content: center;
    align-content: center;
}

.call-action {
    background-color: #3882f6;
    padding:36px 72px;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin:48px;
    gap:36px;
}

.call-action button {
    border: #f9faf8;
    border-style: solid;
    border-radius: 8px;
}
